h1 {
    text-align: center;
    background-color: black;
    color: yellow;
    font-weight: bolder;
    font-size: 5em;
    font-family: 'Cabin Sketch', cursive;
}

body {
    background-color: black;
}

#map {
    max-height: 800px;
    width: auto;
    border-radius: 2em;
}

h2 {
    text-align: center;
    background-color: black;
    color: yellow;
    font-weight: bold;
    font-size: 5em;
    font-family: 'Cabin Sketch', cursive;
}

p {
    font-size: 1.5em;
    font-family: 'Cabin Sketch', cursive;
    color: white;
    text-align: center;
}

.passport{
    color: black;
}

.footer button{
    color: white;
    background-color: black;
    font-size: 1em;
    font-family: 'Cabin Sketch', cursive;
}

.footer a{
    color: white;
}
.footer button:hover{
    color: white;
    background-color: black;
    font-family: 'Cabin Sketch', cursive;
    border: thick dashed yellow;
}

button:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
}

.dropdown {
    color: white;
    background-color: black;
    font-family: 'Cabin Sketch', cursive;
}

.state-dropdown {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1em;
    background-color: black;
    border-radius: 3em;
    color: white;
}

.state-dropdown:hover {
    border: thick dashed yellow;
}

button {
    font-family: 'Cabin Sketch', cursive;
}

#alabama:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}

#alabama {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/2560px-Flag_of_Alabama.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#alaska:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#alaska {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Alaska.svg/2560px-Flag_of_Alaska.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#arizona:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#arizona {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Arizona.svg/2560px-Flag_of_Arizona.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#arkansas:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#arkansas {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Arkansas.svg/2560px-Flag_of_Arkansas.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#california:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#california {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_California.svg/2560px-Flag_of_California.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#colorado:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#colorado {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Flag_of_Colorado.svg/2560px-Flag_of_Colorado.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#connecticut:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#connecticut {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Flag_of_Connecticut.svg/1920px-Flag_of_Connecticut.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#delaware:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#delaware {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Flag_of_Delaware.svg/2560px-Flag_of_Delaware.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#florida:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#florida {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Florida.svg/2560px-Flag_of_Florida.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#georgia:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#georgia {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Flag_of_Georgia_%28U.S._state%29.svg/2560px-Flag_of_Georgia_%28U.S._state%29.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#hawaii:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#hawaii {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Flag_of_Hawaii.svg/2880px-Flag_of_Hawaii.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#idaho:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#idaho {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_Idaho.svg/1920px-Flag_of_Idaho.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#illinois:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#illinois {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_Illinois.svg/2560px-Flag_of_Illinois.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#indiana:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#indiana {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Flag_of_Indiana.svg/2560px-Flag_of_Indiana.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#iowa:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#iowa {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Flag_of_Iowa.svg/2560px-Flag_of_Iowa.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#kansas:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#kansas {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Flag_of_Kansas.svg/2560px-Flag_of_Kansas.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#kentucky:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#kentucky {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Flag_of_Kentucky.svg/2880px-Flag_of_Kentucky.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#louisiana:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#louisiana {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Flag_of_Louisiana.svg/2560px-Flag_of_Louisiana.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#maine:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#maine {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Flag_of_Maine.svg/1920px-Flag_of_Maine.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#maryland:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#maryland {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Flag_of_Maryland.svg/2560px-Flag_of_Maryland.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#massachusetts:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#massachusetts {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Massachusetts.svg/2560px-Flag_of_Massachusetts.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#michigan:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#michigan {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Flag_of_Michigan.svg/2560px-Flag_of_Michigan.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#minnesota:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#minnesota {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Minnesota.svg/2560px-Flag_of_Minnesota.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#mississippi:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#mississippi {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Flag_of_Mississippi.svg/2560px-Flag_of_Mississippi.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#missouri:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#missouri {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Flag_of_Missouri.svg/2560px-Flag_of_Missouri.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#montana:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#montana {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_Montana.svg/2560px-Flag_of_Montana.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#nebraska:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#nebraska {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Flag_of_Nebraska.svg/2560px-Flag_of_Nebraska.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#nevada:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#nevada {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Flag_of_Nevada.svg/2560px-Flag_of_Nevada.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#new-hampshire:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#new-hampshire {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_New_Hampshire.svg/2560px-Flag_of_New_Hampshire.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#new-jersey:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#new-jersey {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_New_Jersey.svg/2560px-Flag_of_New_Jersey.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#new-mexico:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#new-mexico {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_New_Mexico.svg/2560px-Flag_of_New_Mexico.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#new-york:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#new-york {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_New_York.svg/2880px-Flag_of_New_York.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#north-carolina:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#north-carolina {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Flag_of_North_Carolina.svg/2560px-Flag_of_North_Carolina.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#north-dakota:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#north-dakota {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Flag_of_North_Dakota.svg/1920px-Flag_of_North_Dakota.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#ohio:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#ohio {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Ohio.svg/2560px-Flag_of_Ohio.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#oklahoma:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#oklahoma {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Flag_of_Oklahoma.svg/2560px-Flag_of_Oklahoma.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#oregon:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#oregon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Oregon.svg/2560px-Flag_of_Oregon.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#pennsylvania:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#pennsylvania {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Pennsylvania.svg/2560px-Flag_of_Pennsylvania.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#rhode-island:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#rhode-island {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Rhode_Island.svg/1920px-Flag_of_Rhode_Island.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#south-carolina:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#south-carolina {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Flag_of_South_Carolina.svg/2560px-Flag_of_South_Carolina.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#south-dakota:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#south-dakota {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_South_Dakota.svg/2560px-Flag_of_South_Dakota.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#tennessee:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#tennessee {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Tennessee.svg/2560px-Flag_of_Tennessee.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#texas:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#texas {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Texas.svg/2560px-Flag_of_Texas.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#utah:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#utah {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Flag_of_Utah.svg/2560px-Flag_of_Utah.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#vermont:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#vermont {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Vermont.svg/2560px-Flag_of_Vermont.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#virginia:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#virginia {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Flag_of_Virginia.svg/2560px-Flag_of_Virginia.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#washington:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#washington {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Flag_of_Washington.svg/2560px-Flag_of_Washington.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#west-virginia:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#west-virginia {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Flag_of_West_Virginia.svg/2880px-Flag_of_West_Virginia.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#wisconsin:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#wisconsin {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Flag_of_Wisconsin.svg/2560px-Flag_of_Wisconsin.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
#wyoming:hover {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    background-color: black;
    background-image: none;
    color: white;
}
#wyoming {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Wyoming.svg/2560px-Flag_of_Wyoming.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: black;
}
